# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=MetaACO Core Daemon SNAP
Comment=main
GenericName=MetaACO Digital Currency Daemon Client main network
Exec=metaaco-core.daemon %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/metaaco.png
MimeType=x-scheme-handler/piv;
Categories=X-Office;X-Finance;
Keywords=internet;metaaco;zpiv;core;wallet;daemon;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
