# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=MetaACO Core
Comment=MetaACO Core QT test network
GenericName=MetaACO Digital Currency QT client testnet network
Exec=metaaco-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/metaaco_testnet.png
MimeType=x-scheme-handler/piv;
Categories=X-Office;X-Finance;
Keywords=internet;metaaco;zpiv;tpiv;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
Name[en_US]=metaaco-qt_testnet.desktop
