# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=MetaACO Core
Comment=MetaACO Core QT main network
GenericName=MetaACO Digital Currency QT client main network
Exec=metaaco-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/metaaco.png
MimeType=x-scheme-handler/metaaco;
Categories=X-Office;X-Finance;
Keywords=internet;metaaco;zpiv;piv;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
Name[en_US]=metaaco-qt.desktop
